# name of pipeline workflow
name: sdas terraform workflow
# trigger action 
# when there is a push happen in master branch pipeline gonna trigger
on: 
  push:
    branches: [ "main" ]  
    paths-ignore:
      - "README.md"
      - "terraform.tfstate"

# creating jobs
jobs:
  infra-provision-job:
    runs-on: ubuntu-latest
    steps: #what exactly you want to run in ubuntu machine
    #calling first github action to clone my dryrun-aws data to runner machine
    - name: taking code from my repo
      uses: actions/checkout@v5
      with:
        ref: main

    #terraform installing
    - name: installing terraform
      uses: hashicorp/setup-terraform@v3

    #running some commands
    - name: my first step to test github action
      run: |
        echo "Hello world"
        whoami
        git version
        ls -a

   # - name: connecting with aws

    -  name: connecting with aws
       run: echo "My secret value is ${{ secrets.MY_API_KEY }}"

    -  name: Configure AWS Credentials
       uses: aws-actions/configure-aws-credentials@v4
       with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-2

    - name: deploy terraform resources
      run: |
        echo " implementing terraform deals"
        terraform init 
        terraform plan -lock=false
        sleep 2
        terraform apply -lock=false --auto-approve

  infra-destroy-job:
    needs: infra-provision-job
    runs-on: ubuntu-latest
    steps:
    - name: checking out code 
      uses: actions/checkout@v5
      with:
        ref: master 
    - name: login to aws creds 
      uses: aws-actions/configure-aws-credentials@v5.1.0
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-southeast-2 

    # installing  
    - name: installing terraform 
      uses: hashicorp/setup-terraform@v3

    - name: destroying it 
      run: | 
        echo "checking resoruces"
        terraform init 
        terraform plan -lock=false
        terraform state list
        terraform destroy -lock=false --auto-approve




#build-job:
#infra-job:

