# name of pipeline workflow
name: sdas terraform workflow
# trigger action 
# when there is a push happen in master branch pipeline gonna trigger
on: 
  push:
    branches: [ "dryrun-aws" ]  
    paths-ignore:
      - "README.md"
      - "terraform.tfstate"

# creating jobs
jobs:
  test-job:
    runs-on: ubuntu-latest
    steps: #what exactly you want to run in ubuntu machine
    - name: my first step to test github action
      run: |
        echo "Hello world"
        whoami
        git version
        ls -a

build-job:
infra-job:

